body{
  font-family: sans-serif;
}

html, .fullscreen{
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container{
  margin: auto;
}

img{
  margin-left: 100px;
}

.title{
  font-size: 3rem;
}

#salvar{
  position: absolute;
  margin-left: 50px;
}

#listar{
  position: absolute;
  margin-left: 150px;
}
